@define-color	rosewater #d5a4a6;
@define-color	rosewater-rgb rgb(213, 164, 166);
@define-color	flamingo #c0caf5;
@define-color	flamingo-rgb rgb(192, 202, 245);
@define-color	pink #bb9af7;
@define-color	pink-rgb rgb(187, 154, 247);
@define-color	mauve #9d7cd8;
@define-color	mauve-rgb rgb(157, 124, 216);
@define-color	red #f7768e;
@define-color	red-rgb rgb(247, 118, 142);
@define-color	maroon #ff9e64;
@define-color	maroon-rgb rgb(255, 158, 100);
@define-color	peach #e0af68;
@define-color	peach-rgb rgb(224, 175, 104);
@define-color	yellow #e0af68;
@define-color	yellow-rgb rgb(224, 175, 104);
@define-color	green #9ece6a;
@define-color	green-rgb rgb(158, 206, 106);
@define-color	teal #73daca;
@define-color	teal-rgb rgb(115, 218, 202);
@define-color	sky #7dcfff;
@define-color	sky-rgb rgb(125, 207, 255);
@define-color	sapphire #7aa2f7;
@define-color	sapphire-rgb rgb(122, 162, 247);
@define-color	blue #7aa2f7;
@define-color	blue-rgb rgb(122, 162, 247);
@define-color	lavender #c0caf5;
@define-color	lavender-rgb rgb(192, 202, 245);
@define-color	text #c0caf5;
@define-color	text-rgb rgb(192, 202, 245);
@define-color	subtext1 #a9b1d6;
@define-color	subtext1-rgb rgb(169, 177, 214);
@define-color	subtext0 #9aa5ce;
@define-color	subtext0-rgb rgb(154, 165, 206);
@define-color	overlay2 #565f89;
@define-color	overlay2-rgb rgb(86, 95, 137);
@define-color	overlay1 #414868;
@define-color	overlay1-rgb rgb(65, 72, 104);
@define-color	overlay0 #3b4261;
@define-color	overlay0-rgb rgb(59, 66, 97);
@define-color	surface2 #33467c;
@define-color	surface2-rgb rgb(51, 70, 124);
@define-color	surface1 #292e42;
@define-color	surface1-rgb rgb(41, 46, 66);
@define-color	surface0 #232433;
@define-color	surface0-rgb rgb(35, 36, 51);
@define-color	base #1a1b26;
@define-color	base-rgb rgb(26, 27, 38);
@define-color	mantle #16161e;
@define-color	mantle-rgb rgb(22, 22, 30);
@define-color	crust #13131a;
@define-color	crust-rgb rgb(19, 19, 26);