@import "catppuccin/themes/theme.css";

* {
  border: none;
  border-radius: 0;
  /* Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200 */
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 17px;
  min-height: 0;
}

window#waybar {
  background-color: @base;
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 5px;
}
tooltip label {
  color: @text;
}

#workspaces button {
  padding: 3px;
  margin: 10px 0px 10px 7px;
  background: transparent;
  border-radius: 2px;
  color: @text;
}

#workspaces button.urgent {
  background: @red;
}

#workspaces button.active {
  background: @accent;
  color: @crust;
  font-weight: 700;
}

.modules-right {
  padding: 0px 10px;
}

#submap,
#bluetooth,
#memory,
#network,
#cpu,
#volume,
#battery {
  border-radius: 8px;
  padding: 5px 8px;
  background: @surface0;
}

#submap,
#bluetooth,
#memory,
#network,
#cpu,
#volume,
#battery {
  margin: 7px 10px 7px 0px;
}

#media {
  color: @green;
  margin: 7px 0px 7px 80px;
}

#custom-media-status {
  font-size: 13px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: @subtext0;
  font-size: 14px;
}

#submap {
  background: @red;
  color: @crust;
}

#tray {
  border-radius: 8px;
  padding: 5px 8px;
  background: @surface0;
  margin: 7px 10px 7px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#language {
  border-radius: 8px;
  padding: 5px 8px;
  background: @surface0;
  margin: 7px 10px 7px 0px;
}

#custom-power {
  border-radius: 8px;
  padding: 5px 10px;
  background: @surface0;
  color: @red;
  margin: 7px 0px 7px 0px;
}

#clock {
  /* background-color: #64727d; */
}

#pulseaudio {
  margin-right: 8px;
}

#pulseaudio-slider {
  padding: 0;
  margin: 0;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 5px;
  background: @surface1;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @accent;
}

