@define-color rosewater #d5a4a6;
@define-color flamingo #c0caf5;
@define-color pink #bb9af7;
@define-color mauve #9d7cd8;
@define-color red #f7768e;
@define-color maroon #ff9e64;
@define-color peach #e0af68;
@define-color yellow #e0af68;
@define-color green #9ece6a;
@define-color teal #73daca;
@define-color sky #7dcfff;
@define-color sapphire #7aa2f7;
@define-color blue #7aa2f7;
@define-color lavender #c0caf5;
@define-color text #c0caf5;
@define-color subtext1 #a9b1d6;
@define-color subtext0 #9aa5ce;
@define-color overlay2 #565f89;
@define-color overlay1 #414868;
@define-color overlay0 #3b4261;
@define-color surface2 #33467c;
@define-color surface1 #292e42;
@define-color surface0 #232433;
@define-color base #1a1b26;
@define-color mantle #16161e;
@define-color crust #13131a;
