* {
    background-image: none;
    box-shadow: none;
    font-family: "Caskaydia Cove NF";
    font-size: 14pt;
}

window {
    background-color: rgba(30, 30, 46, 0.9);
}

button {
    border-radius: 30px;
    border-color: #cba6f7;
    text-decoration-color: #cdd6f4;
    color: #cdd6f4;
    background-color: #181825;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 10px;
}

button:focus,
button:active,
button:hover {
    /* 20% Overlay 2, 80% mantle */
    background-color: rgb(48, 50, 66);
    outline-style: none;
}

#lock {
    background-image: url("icons/lock.svg");
}

#logout {
    background-image: url("icons/logout.svg");
}

#suspend {
    background-image: url("icons/suspend.svg");
}

#hibernate {
    background-image: url("icons/hibernate.svg");
}

#shutdown {
    background-image: url("icons/shutdown.svg");
}

#reboot {
    background-image: url("icons/reboot.svg");
}