#!/usr/bin/env bash
#
# ~/.aliases
#

# Common useful aliases
alias ls='ls --color=auto'
alias grep='grep --colour=auto'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'
alias la='ls -A'
alias ll='ls -lAh'
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias mkdir='mkdir -p'

# Set 'vi' and 'vim' aliases based on availability
if command -v nvim >/dev/null 2>&1; then
	alias vi='nvim'
	alias vim='nvim'
elif command -v vim >/dev/null 2>&1; then
	alias vi='vim'
fi

# Privileged access
if ((UID != 0)); then
	alias sudo='sudo '
	alias scat='sudo cat'
	alias svim='sudoedit'
	alias root='sudo -i'
	alias reboot='sudo systemctl reboot'
	alias poweroff='sudo systemctl poweroff'

	if command -v bat >/dev/null 2>&1; then
		alias scat='sudo bat --paging=never --style="changes"'
	fi
fi

# misc
alias df='df -H'
alias du='du -ch'
alias free='free -h'
alias more='less'
alias ip='ip -c'
alias y='yazi'

if command -v colordiff >/dev/null 2>&1; then
	alias diff='colordiff'
fi
if command -v difft >/dev/null 2>&1; then
	alias diff='difft'
fi
if command -v bat >/dev/null 2>&1; then
	alias cat='bat --paging=never --style="changes"'
	alias less='bat'
	alias more='bat'
fi
if command -v rg &>/dev/null; then
	alias grep='rg'
fi
if command -v yay &>/dev/null; then
	alias yayf="yay -Slq | fzf --multi --preview 'yay -Sii {1}' --preview-window=down:75% | xargs -ro yay -S"
fi

# Safety features
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -I' # 'rm -i' prompts for every file
alias ln='ln -i'
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

# alias to cleanup unused docker containers, images, networks, and volumes
alias docker-clean=' \
  docker container prune -f ; \
  docker image prune -f ; \
  docker network prune -f ; \
  docker volume prune -f '

# RPi
if grep -q Raspberry /proc/cpuinfo; then
	alias temp='vcgencmd measure_temp'
fi
